<p id="notice"><%= notice %></p>
<div id="itemsContainer">
<h2>Products in <%= params[:title] %> category</h2>
<% @Products.each do |product| %>
<div class="itemhols">

<%= link_to (image_tag product.image_url, :class=>"itemholsIm"), product%>
<h1><%= product.title %></h1>
<p>Price: <%= product.price %>
<br>
Category: <%= product.category %>
<br>
Size: <%= product.size %>
</p>
<p>

<%= link_to 'Show', product, :class =>"button", :role=>"button" %>
<% if user_signed_in? %>
    <a href="/cart/<%= product.id %>" class="button">Add to Cart</a>
    <% if current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(product), :class =>"button", :role=>"button" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %>
    <% end %>
<% end %>
</p>
</div>

<% end %>
    <% if @Products.length == 0 %>
        <br />
        <h3>There are currently no products in this category</h3>
    <% end %>
<br>