
<% if @order.user.email == @user.email || current_user.admin? %>
<div id="itemsContainer">
<p id="notice"><%= notice %></p>
<h1>Order Details</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Order date:</th>
            <th scope="col">Ordered By</th>
            <th scope="col">Order status:</th>
        </tr>
    <thead class="thead-light">
<tr>
<td><%= @order.order_date %></td>
<td><%= @order.user.email %></td>
<td><%= @order.status %></td>
</tr>
</table>
<br>
<h2>Order Items</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
<% @orderitems.each do |orderitem| %>
<tr>
<td><%= orderitem.title %></td>
<td><%= orderitem.quantity %></td>
<td><%= orderitem.price %></td>
</tr>
<% end %>
</table>
<%= link_to 'Back', orders_path, :class =>"button" %>
</div>
<% else %>
<h1>You did not place this order</h1>
<% end %>
